<div class="container home">
	<div class="slogan"> 
		<div class="slide-text text-center">
			<h1>Welcome to DP Blog....</h1>
			<span>Built with love.</span>
			<!-- <a class="slide-btn" href="#">Learn More</a> -->
			<%= link_to 'My Blog', articles_path, :class => "slide-btn" %>
		</div>
	</div>
</div>