<div class="container home">
	<div class="slogan"> 
		<h1>Welcome DP Blog</h1>
		<h4>To be or not to be that is the question</h4>
	</div>

	<!-- <img src="/images/header-bg.jpg" alt="rss feed" /> -->

	<%= link_to 'My Blog', controller: 'articles' %>
</div>